<!DOCTYPE html>
<html>

<head>
    <title>Error</title>
        <link rel="stylesheet" type="text/css" href="/style.css">

</head>

<body>
    <h1>Error fetching news</h1>
    <p>Something went wrong while fetching news. Please try again later.</p>
</body>

</html>

main.handlebars
<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
</head>

<body>
    {{{body}}}
</body>

</html>